<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/additional-service-mapper.xml"/>
        <mapper resource="mapper/car-mapper.xml"/>
        <mapper resource="mapper/car-sale-mapper.xml"/>
        <mapper resource="mapper/car-type-mapper.xml"/>
        <mapper resource="mapper/customer-mapper.xml"/>
        <mapper resource="mapper/employee-mapper.xml"/>
        <mapper resource="mapper/manufacturer-mapper.xml"/>
        <mapper resource="mapper/order-mapper.xml"/>
        <mapper resource="mapper/order-has-additional-service-mapper.xml"/>
        <mapper resource="mapper/position-mapper.xml"/>
        <mapper resource="mapper/service-type-mapper.xml"/>
        <mapper resource="mapper/test-drive-mapper.xml"/>
    </mappers>
</configuration>