<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.jdbc.dao.AdditionalServiceDAO">

    <resultMap id="AdditionalServiceResultMap" type="com.solvd.models.AdditionalService" autoMapping="false">
        <id column="id" property="id"/>
        <result column="service_name" property="serviceName"/>
    </resultMap>

    <insert id="saveEntity" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO additional_services(id, service_type_id, service_name)
        VALUES (#{id}, #{serviceType.id}, #{serviceName})
    </insert>

    <sql id="select">
        SELECT * FROM additional_service
    </sql>

    <select id="getEntityById">
        <include refid="select"/>
        WHERE id = #{id}
    </select>

    <select id="getAdditionalServiceByServiceName">
        <include refid="select"/>
        WHERE service_name = #{serviceName}
    </select>

    <select id="getAll">
        <include refid="select"/>
    </select>

    <update id="updateEntity">
        UPDATE additional_services
        SET service_type_id = #{serviceType.id}, service_name = #{serviceName}
        WHERE id = #{id}
    </update>

    <delete id="removeEntityById">
        DELETE FROM additional_services
        WHERE id = #{id}
    </delete>

</mapper>