<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.mybatis.dao.CarTypeDAO">

    <resultMap id="CarTypeResultMap" type="com.solvd.models.CarType" autoMapping="false">
        <id column="id" property="id"/>
        <result column="car_type" property="carType"/>
    </resultMap>

    <insert id="saveEntity" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO car_types(id, car_type)
        VALUES (#{id}, #{carType})
    </insert>

    <sql id="select">
        SELECT * FROM car_types
    </sql>

    <select id="getEntityById">
        <include refid="select"/>
        WHERE id = #{id}
    </select>

    <select id="getCarTypeByName">
        <include refid="select"/>
        WHERE car_type = #{carTypeName}
    </select>

    <select id="getAll">
        <include refid="select"/>
    </select>

    <update id="updateEntity">
        UPDATE car_types
        SET car_type = #{carType}
        WHERE id = #{id}
    </update>

    <delete id="removeEntityById">
        DELETE FROM car_types
        WHERE id = #{id}
    </delete>

</mapper>