<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.jdbc.dao.CarDAO">

    <insert id="saveEntity" keyColumn="id" keyProperty="id" useGeneratedKeys="true">// FIXME THIS ONE TO MANY
        RELATIONSHIP
        INSERT INTO cars (price, model, year, is_sold, car_type_id, manufacturer_id)
        VALUES (#{price}, #{model}, #{year}, #{is_sold}, #{car_type_id}, #{manufacturer_id})
    </insert>

    <sql id="select">
        SELECT * FROM cars
    </sql>

    <select id="getEntityById">
        <include refid="select"/>
        WHERE id = #{id}
    </select>

    <select id="getCarsByModel">
        <include refid="select"/>
        WHERE model = #{model}
    </select>

    <select id="getAll">
        <include refid="select"/>
    </select>

    <update id="updateEntity">
        UPDATE cars
        SET service_type = #{serviceType}
        WHERE id = #{id }
    </update>

    <delete id="removeEntityById">
        DELETE FROM cars
        WHERE id = #{id}
    </delete>

    <resultMap id="CarResultMap" type="com.solvd.models.Car" autoMapping="false">
        <id column="id" property="id"/>
    </resultMap>

</mapper>