<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.jdbc.dao.CarSaleDAO">

    <insert id="saveEntity" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO car_sales(id, service_type)
        VALUES (#{id}, #{serviceType})
    </insert>

    <sql id="select">
        SELECT * FROM car_sales
    </sql>

    <select id="getEntityById">
        <include refid="select"/>
        WHERE id = #{id}
    </select>

    <select id="getCarSaleByEmployeeId">
        <include refid="select"/>
        WHERE employee_id = #{employeeId}
    </select>

    <select id="getAll">
        <include refid="select"/>
    </select>

    <update id="updateEntity">
        UPDATE car_sales
        SET FIXME = #{serviceType}
        WHERE id = #{id}
    </update>

    <delete id="removeEntityById">
        DELETE FROM car_sales
        WHERE id = #{id}
    </delete>

    <resultMap id="CarSaleResultMap" type="com.solvd.models.CarSale" autoMapping="false">
        <id column="id" property="id"/>
    </resultMap>

</mapper>