<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.mybatis.dao.EmployeeDAO">

    <insert id="saveEntity" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO employees(id, first_name, last_name, position_id)
        VALUES (#{id}, #{firstName}, #{last_name}, #{position.id})
    </insert>

    <sql id="select">
        SELECT * FROM employees
    </sql>

    <select id="getEntityById" resultMap = "EmployeeResultMap">
        <include refid="select"/>
        WHERE id = #{id}
    </select>

    <select id="getEmployeeByLastName" resultMap = "EmployeeResultMap">
        <include refid="select"/>
        WHERE last_name = #{lastName}
    </select>

    <select id="getAll" resultMap = "EmployeeResultMap" >
        <include refid="select"/>
    </select>

    <update id="updateEntity">
        UPDATE employees
        SET first_name = #{firstName}, last_name = #{lastName}, position_id = #{position.id}
        WHERE id = #{id}
    </update>

    <delete id="removeEntityById">
        DELETE FROM employees
        WHERE id = #{id}
    </delete>

    <resultMap id="EmployeeResultMap" type="com.solvd.models.Employee" autoMapping="false">
        <id column="id" property="id"/>
        <result column="first_name" property="firstName"/>
        <result column="last_name" property="lastName"/>
        <association property= "position" resultMap="com.solvd.mybatis.dao.EmployeeDAO.EmployeeResultMap"/>
    </resultMap>

</mapper>