<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.mybatis.dao.ServiceTypeDAO">

    <insert id="saveEntity" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO service_types(id, service_type)
        VALUES (#{id}, #{serviceType})
    </insert>

    <sql id="select">
        SELECT * FROM service_types
    </sql>

    <select id="getEntityById">
        <include refid="select"/>
        WHERE id = #{id}
    </select>

    <select id="getServiceTypeByName">
        <include refid="select"/>
        WHERE service_type = #{serviceType}
    </select>

    <select id="getAll">
        <include refid="select"/>
    </select>

    <update id="updateEntity">
        UPDATE service_types
        SET service_type = #{serviceType}
        WHERE id = #{id}
    </update>

    <delete id="removeEntityById">
        DELETE FROM service_types
        WHERE id = #{id}
    </delete>

    <resultMap id="ServiceTypeResultMap" type="com.solvd.models.ServiceType" autoMapping="false">
        <id column="id" property="id"/>
        <result column="service_type" property="serviceType"/>
    </resultMap>

</mapper>