<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.solvd.mybatis.dao.TestDriveDAO">

    <insert id="saveEntity" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO test_drives(id, date, car_id, customer_id, employee_id)
        VALUES (#{id}, #{date}, #{car.id}, #{customer.id}, #{employee.id})
    </insert>

    <sql id="select">
        SELECT * FROM test_drives
    </sql>

    <select id="getEntityById" resultMap="TestDriveResultMap">
        <include refid="select"/>
        WHERE id = #{id}
    </select>

    <select id="getTestDrivesByEmployeeID" resultMap="TestDriveResultMap">
        <include refid="select"/>
        WHERE employee_id = #{employee.id}
    </select>

    <select id="getAll" resultMap="TestDriveResultMap">
        <include refid="select"/>
    </select>

    <update id="updateEntity">
        UPDATE test_drives
        SET date = #{date}, car_id = #{car.id}, customer_id = #{customer.id}, employee = #{employee.id}
        WHERE id = #{id}
    </update>

    <delete id="removeEntityById">
        DELETE FROM test_drives
        WHERE id = #{id}
    </delete>

    <resultMap id="TestDriveResultMap" type="com.solvd.models.TestDrive" autoMapping="false">
        <id column="id" property="id"/>
        <result column="date" property="date"/>
        <association property="customer" resultMap="com.solvd.mybatis.dao.CustomerDAO.CustomerResultMap"/>
        <association property="employee" resultMap="com.solvd.mybatis.dao.EmployeeDAO.EmployeeResultMap"/>
        <association property="car" resultMap="com.solvd.mybatis.dao.CarDAO.CarResultMap"/>

    </resultMap>

</mapper>